<nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
    <a class="navbar-brand" href="{% url 'index' %}">ANA SAYFA</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarCollapse">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item active">
          <a class="nav-link" href="{% url 'about' %}"> HAKKIMIZDA <span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item active">
          <a class="nav-link" href="{% url 'article:articles' %}"> MAKALELER <span class="sr-only">(current)</span></a>
        </li>
      </ul>
      </ul>
      <ul class="navbar-nav ml-auto">
        </li>
        <ul class="navbar-nav ml-auto">
          {% if request.user.is_authenticated %}
          <li class="nav-item activate">
            <a class="nav-link" href="{% url 'article:dashboard' %}"> KONTROL PANELİ<span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item activate">
          <a class="nav-link" href="{% url 'user:logout' %}"> ÇIKIŞ YAP<span class="sr-only">(current)</span></a>
        </li>
        {% else %}
          <li class="nav-item activate">
              <a class="nav-link" href="{% url 'user:login' %}"> GİRİŞ YAP<span class="sr-only">(current)</span></a>
          </li>
          {% endif %}
        <li class="nav-item activate">
            <a class="nav-link" href="{% url 'user:register' %}"> KAYIT OL<span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item activate">
          <a class="nav-link" href="/admin"> ADMİN<span class="sr-only">(current)</span></a>
      </li>
      </ul>
    </div> 
  </nav>