{% extends "layout.html" %}
{% block body %}
<div class="jumbotron text-center">
    <h3>Blog Sayfamıza Hoş Geldiniz</h3>
    <hr>
    <p>Şu anda içerisinde bulunduğunuz bloğumuzda kurumumuzla ilgili her türlü içeriğe ulaşabilirsiniz. İstediğiniz her konuda bizden ve okulumuz
        öğrencilerinden gerekli bilgileri alabilirsiniz.
    </p>
</div>
<p>
<div class="jumbotron text-left">
    {% if request.user.is_authenticated %}
        GİRİŞ YAPILMIŞ! Hoşgeldin {{request.user.username}}
    {% else %}
        GİRİŞ YAPILMAMIŞ!
    {% endif %}
    <img class="img-fluid rounded" src="{{article.artricle_image.url}}" alt="" />
</div>
</p>
{% endblock body %}